.anchor-links .wrap {
	max-width: $max-cont-w + 200px;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	width: 100%;
	margin: 0 auto;
}

.wp-block.anchor-links {
	position: relative;
	top: inherit;
}

.anchor-links {
	padding-top: 15px;
	padding-bottom: 15px;
	max-width: 100%;
	width: 100%;
	background: white;
	position: sticky;
	top: 80px;
	z-index: 99;
	@media screen and (min-width: $small-width) {
		padding-top: 20px;
		padding-bottom: 20px;
		top: 105px;
	}
}

.anchor-links .wp-block-list {
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	max-width: 100%;
}

.anchor-links .wp-block-list a {
	text-decoration: none;
}

.anchor-links .wp-block-list a:hover {
	color: $light-orange;
}

.anchor-links .wp-block-list li {
	font-size: 16px;
	margin-left: 0;
	margin-right: 15px;
	@media screen and (min-width: $small-width) {
		font-size: 20px;
		margin-right: 4%;

	}
}