.wp-block.feature-section {
	max-width: 100%;
	width: 100%;
	box-sizing: border-box;
}

.feature-section {
	width: 100%;
}

.feature-section .faq-section > .block-wrapper {
	padding: 0;
}

.feature-section + .selected-case-studies {
	padding-top: 0;
	@media screen and (min-width: $small-width) {
		padding-top: 0;
	}
}

.feature-section > .block-wrapper {
	width: 100%;
	max-width: 100%;
	position: relative;
	padding-top: 45px;
	padding-bottom: 45px;
	@media screen and (min-width: $small-width) {
		padding-top: 120px;
		padding-bottom: 120px;
	}
}

.feature-section > .block-wrapper > .block-content {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	position: relative;
	width: 100%;
	margin: 0 auto;
}

.feature-section > .block-wrapper > .block-content > .block-editor-inner-blocks,
.feature-section > .block-wrapper > .block-content > .block-editor-inner-blocks > .block-editor-block-list__layout {
	width: 100%;
}

.feature-section > .block-wrapper > .block-content > .block-editor-inner-blocks > .block-editor-block-list__layout {
	display: flex;
}

.feature-section .faq:last-of-type {
	margin-bottom: 0;
}

.feature-section .content-columns {
	width: 100%;
	box-sizing: border-box;
	max-width: ($max-cont-w + 200px) * .5;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	margin-left: auto;
	@media screen and (min-width: $small-width) {
		width: 50%;
	}
}

.feature-section .content-columns .wrap {
	position: relative;
	z-index: 5;
	@media screen and (min-width: $small-width) {
		margin-right: -16.6667%;
	}
}

.feature-section.col-66 .content-columns {
	width: 100%;
	box-sizing: border-box;
	max-width: ($max-cont-w + 200px) * .5;
	@media screen and (min-width: $small-width) {
		width: 50%;
	}
}

.feature-section .image-column {
	width: 100%;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	@media screen and (min-width: $small-width) {
		width: 50%;
		max-width: 50%;
		margin-bottom: 0;
		overflow: hidden;
		position: sticky;
		top: 0;
		padding-left: 0;
		padding-right: 0;
	}
}

.feature-section .image-column figure {
	margin-right: 0;
	width: 100%;
	@media screen and (min-width: $small-width) {
/*		margin-right: -100px;*/
		padding-left: 16.66667%;
	}
	
}


.feature-section .image-column figure img,
.feature-section .image-column figure a {
	width: 100%;
}

.img-container img {
	display: block;
	margin: 0 auto;
}

.feature-section.img-right .content-columns {
	margin-top: 25px;
	@media screen and (min-width: $small-width) {
		padding-left: 0;
		padding-right: 1.25rem;
		margin-top: 0;
	}
}

.feature-section.img-right.no-ds .content-columns {
	@media screen and (min-width: $small-width) {
		padding-left: 1.25rem;
	}
}

.feature-section.img-right .image-col {
	@media screen and (min-width: $small-width) and (max-width: $med-small-width) {
		margin-right: 15px;
	}
	@media screen and (min-width: $med-small-width) and (max-width: $med-width) {
		margin-right: 20px;
	}
	@media screen and (min-width: $med-width) {
		margin-right: 34px;
	}
}

.feature-section .image-col {
	position: relative;
}

.feature-section .image-col img,
.feature-section .image-col picture {
	position: relative;
	max-height: 50vh;
	@media screen and (min-width: $small-width) {
		max-height: inherit;
	}
}

/*.feature-section.animate-complete .image-col:before {
	opacity: 1;
	@media screen and (min-width: $small-width) and (max-width: $med-small-width) {
		left: -15px;
	}
	@media screen and (min-width: $med-small-width) and (max-width: $med-width) {
		left: -20px;
	}
	@media screen and (min-width: $med-width) {
		left: -34px;
	}
}

.feature-section.img-right.animate-complete .image-col:before {
	left: initial;
	opacity: 1;
	@media screen and (min-width: $small-width) and (max-width: $med-small-width) {
		right: -15px;
	}
	@media screen and (min-width: $med-small-width) and (max-width: $med-width) {
		right: -20px;
	}
	@media screen and (min-width: $med-width) {
		right: -34px;
	}
}
*/


.feature-section.img-right .image-col {
	@media screen and (min-width: $small-width) and (max-width: $med-small-width) {
		margin-right: 15px;
		padding-left: 1.25rem;
	}
	@media screen and (min-width: $med-small-width) and (max-width: $med-width) {
		margin-right: 20px;
		padding-left: 1.25rem;
	}
	@media screen and (min-width: $med-width) {
		margin-right: 34px;
		padding-left: 2.5rem;
	}
}


.feature-section.img-left .image-col {
	@media screen and (min-width: $small-width) and (max-width: $med-small-width) {
		margin-left: 15px;
		padding-right: 1.25rem;
	}
	@media screen and (min-width: $med-small-width) and (max-width: $med-width) {
		margin-left: 20px;
		padding-right: 1.25rem;
	}
	@media screen and (min-width: $med-width) {
		margin-left: 34px;
		padding-right: 2.5rem;
	}
}

.feature-section.no-ds .image-col {
	box-shadow: none;
}

.feature-section .image-comp {
	margin-bottom: 1.25rem;
	@media screen and (min-width: $small-width) {
		margin-bottom: 0;
	}
}


.feature-section video {
	max-width: 100%;
	display: block;
	height: auto;
	border-radius: 10px;
}

.feature-section .wp-block-buttons  {
	margin-top: 25px;
	@media screen and (min-width: $small-width) {
		margin-top: 60px;
	}
}

.feature-section.img-right .image-col {
	order: 1;
	@media screen and (min-width: $small-width) {
		order: 2;
	}
}

.feature-section.img-right .content-columns {
	order: 2;
	@media screen and (min-width: $small-width) {
		order: 1;
	}
}