.wp-block-amwa-theme-block-selected-collections {
	max-width: 100%;
}

.wp-block-amwa-theme-block-selected-collections .collections {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.resources.swiper + .wp-block-buttons {
	margin-top: -40px;
}