.wp-block.grid-buttons {
	max-width: 100%;
	width: 100%;
}

.grid-buttons {
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
	@media screen and (min-width: $small-width) {
		padding-top: 4.25rem;
		padding-bottom: 4.25rem;
	}
}

.grid-buttons > .block-wrapper > .block-editor-inner-blocks > .block-editor-block-list__layout,
.grid-buttons .block-wrapper {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	max-width: $max-cont-w + 200px;
	margin: 0 auto;
	position: relative;
}

.grid-buttons .wp-block-buttons {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	grid-template-columns: 1fr;
	grid-row-gap: 15px;
	grid-column-gap: 15px;
	align-items: stretch;
	max-width: 100%;
	@media screen and (min-width: $med-width + 1px) {
		grid-template-columns: 1fr 1fr 1fr;
		grid-row-gap: 30px;
		grid-column-gap: 30px;
	}
	@media screen and (min-width: $small-width) and (max-width: $med-width) {
		grid-template-columns: 1fr 1fr;
		grid-row-gap: 20px;
		grid-column-gap: 20px;
	}
}

.grid-buttons .wp-block-buttons .wp-block-button {
	width: 100%;
	@media screen and (min-width: $med-width + 1px) {
		width: calc(33.33333% - 20px);
	}
	@media screen and (min-width: $small-width) and (max-width: $med-width) {
		width: calc(50% - 10px);
	}
}