.faq.wp-block {
	width: 100%;
	max-width: 100%;
}

html :where(.wp-block) {
	margin-top: 0;
	margin-bottom: 0;
}

.faq {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	box-shadow: 0 0 0 2px $light-yellow;
	margin-bottom: 2px;
}

.faq .block-wrapper {
	width: 100%;
}

.faq:not(.wp-block) + .faq:not(.wp-block) .block-wrapper {
	border-top: none;
}


.light-yellow.faq .header-title {
	background-color: $light-yellow;
}

.wp-block.faq .content-column.hide-this .header-title,
.faq .header-title {
	padding-left: calc(2.5rem - 12px);
	background: white url($plus) no-repeat calc(100% - 16px) center / 15px;
	padding-bottom: 0.35rem;
	margin-bottom: 0;
	margin-top: 0;
	text-transform: none;
	color: black;
	font-size: 18px;
	line-height: 26px;
	font-weight: 500;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-right: 2.5rem;
	font-family: $font-body;
	font-weight: 300;
	@media screen and (min-width: $small-width) {
		padding-bottom: 0.35rem;
		cursor: pointer;
		padding-left: 1.25rem;
		padding-right: 3.5rem;
		background: white url($plus) no-repeat calc(100% - 20px) center / 20px;
		font-size: 22px;
		line-height: 36px;
		padding-top: 1.225rem;
		padding-bottom: 1.225rem;
	}
}


.light-brown .wp-block.faq .content-column.hide-this .header-title,
.light-brown .faq .header-title {
	background-color: white;
}

.wp-block.faq .content-column .header-title,
.faq .content-column[data-toggled="true"] .header-title {
	color: black;
	background: white url($minus) no-repeat calc(100% - 16px) center / 15px;
	@media screen and (min-width: $small-width) {
		background: white url($minus) no-repeat calc(100% - 20px) center/ 20px;
	}
}

.faq .content-column {
	width: 100%;
}

.answer .content {
	margin-top: 1.25rem;
	@media screen and (min-width: $small-width) {
		margin-top: 1.625rem;
	}
}


.wp-block.faq .content-column.hide-this .answer {
	display: none;
}

.wp-block.faq .content-column[data-toggled="true"] .answer,
.content-column[data-toggled="true"] .answer,
.wp-block.faq .content-column .answer {
	display: flex;
	background-color: white;
	padding-left: calc(2.5rem - 12px);
	padding-right: 1.5rem;
	overflow-wrap: break-word;
  	word-wrap: break-word;
	@media screen and (min-width: $small-width) {
		padding-left: calc(3.5rem - 33px);
		padding-right: 2rem;
	}
}

.wp-block.faq .content-column .answer {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.answer {
	display: none;
	flex-wrap: wrap;
	align-items: flex-start;
}

.answer .content-col {
	width: 100%;
	@media screen and (min-width: $small-width) {
		width: 100%;
	}
}

.question-row {
	position: relative;
}

.question-row button.toggle-button {
	position: absolute;
	top: 28px;
	right: 30px;
	width: 26px;
	height: 25px;
	z-index: 4;
	text-indent: -10000px;
}