.hero__inner {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;
	width: 100%;
	@media screen and (min-width: $small-width) {
			position: relative;
	}
}

.hero {
	overflow: hidden;
}

.hero-block-image {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.hero-block-image:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
}

@for $i from 1 through 100 {
   [class*="wp-block"][data-scrolled='#{$i}'] .img-container:after {
   	background: rgba(255, 255, 255, $i/100);  
   	backdrop-filter: blur(#{$i * .15}px);
  }
}

.hero button.components-button {
	position: relative;
	z-index: 2;
}

.hero .hero-asset { 
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.hero background {
	background-image: linear-gradient(to bottom, rgba(3, 89, 173, .65)  17.5%, transparent 17.5%);
}


.hero .img-container:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.hero.full-height,
.wp-block.hero.full-height {
	@media screen and (min-width: $small-width) {
		height: 100vh;
	}
}

.wp-block.hero {
	max-width: 100%;
	width: 100%;
	margin-bottom: 0;
	position: relative;
	min-height: 300px;
	@media screen and (min-width: $small-width) {
		min-height: 540px;
	}
}

.hero .media-controls {
	 position: absolute;
	 z-index: 2;
}

.hero * {
	color: white;
}

.wp-block.hero.full-height,
.hero.full-height {
	min-height: 450px;
	@media screen and (min-width: $small-width) {
		min-height: 540px;
	}
}

.hero {
	position: relative;
	min-height: 300px;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	@media screen and (min-width: $small-width) {
		min-height: 540px;
	}
}

.hero .img-container {
	position: relative;
}

.hero .block-wrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	position: relative;
	max-width: 100%;
	@media screen and (min-width: $small-width) {
		position: static;
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
	}
}

.hero-block-image-wrap img {
	display: block;
	object-fit: cover;
	object-position: center center;
	width: 100%;
	height: 100%;
}

.hero .featured-link {
	margin-left: auto;
	width: 100%;
	margin-top: 25px;
	
	@media screen and (min-width: $small-width) {
		width: auto;
		margin-top: 0;
		min-width: 30%;
	}
}

.hero .featured-link a {
	transition-property: all;
	transition-duration: 0.3s;
}

.hero .featured-link .header-title {
	margin-bottom: 10px;
	margin-top: 10px;
	font-size: 19px;
}

.hero .featured-link .header-title a:hover {
	color: $light-orange;
}

.hero .featured-link:after {
	content: "";
	display: block;
	height:  2px;
	position: absolute;
	background: white;
	width: 100%;
}

.hero.full-height .hero-block-image-wrap {
	min-height: 450px;
	@media screen and (min-width: $small-width) {
		min-height: 690px;
	}
}

.hero-block-image-wrap {
	height: 100%;
	display: flex;
	min-height: 300px;
	flex-wrap: wrap;
	width: 100%;
	overflow: hidden;
	@media screen and (max-width: $small-width - 1px) {
		background-position: center right !important;
	}
	@media screen and (min-width: $small-width) {
		min-height: 540px;
	}
}

.hero a,
.hero h6,
.hero h5,
.hero h4,
.hero h3,
.hero h2,
.hero h1 {
	color: white;
}

.hero p {
	color: white;
}

.hero p {
	font-size: 20px;
	line-height: 29px;
	color: white;
	margin-top: 0;
	@media screen and (min-width: $small-width) {
		font-size: 28px;
		line-height: 40px;
	}
}

.hero .description a {
	color: white;
}

.hero-block-content .wp-block-buttons {
	margin-top: 10px;
	@media screen and (min-width: $small-width) {
		margin-top: 0;
	}
}

.hero-block-content .wp-block-buttons:last-child {
	margin-bottom: 25px;
	@media screen and (min-width: $small-width) {
		margin-bottom: 0;
	}
}

.hero-block-form {
	width: 100%;
	@media screen and (min-width: $med-width + 1px) {
		width: 33.33333%;
		margin-left: 16.66667%;
	}
	@media screen and (min-width: $small-width) and (max-width: $med-width) {
		width: 50%;
	}
}

.hero-block-content {
	width: 100%;
	@media screen and (min-width: $small-width) {
		width: 50%;
	}
}

.hero-block-image-wrap .img-container {
	width: 100%;
	display: flex;
}

.hero.full-height .hero__inner .content-wrap {
	padding-bottom: 30px;
	@media screen and (min-width: $small-width) {
		padding-bottom: 80px;
	}
}

.hero__inner .content-wrap {
	position: relative;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	z-index: 2;
	margin-top: 40px;
	margin-bottom: 40px;
	max-width: $max-cont-w + 200px;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	padding-bottom: 0;
	@media screen and (min-width: $small-width) {
		position: relative;
		width: 100%;
		margin-top: 80px;
		grid-column-gap: 60px;
	}
}

.hero-block-wrap {
	width: 100%;
	margin-left: auto;
}

.hero .wp-block-buttons {
	column-gap: 25px;
	@media screen and (min-width: $small-width) {
		column-gap: 50px;
	}
}