.selected-lessons {
	padding-top: 3.25rem;
	padding-bottom: 3.25rem;
	overflow: hidden;
	@media screen and (min-width: $small-width) {
		padding-top: 7.25rem;
		padding-bottom: 7.25rem;
	}
}

.case-studies-block .block-wrapper {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}