.wrap_svl {
	counter-reset: tips;
}

.wrap_svl .tips:after {
	counter-increment: tips;
	content: counter(tips);
	line-height: 15px;
	font-family: $font-body;
	color: black;
	display: block;
	font-size: 15px;
	z-index: 10;
	position: relative;
	pointer-events: none;
	margin-top: -7px;
	margin-left: -7px;
	text-align: center;
	width: 15px;
}

#powerTip {
	background: $light-yellow;
	border-radius: none;
	color: black;
	font-family: $font-body;
	padding: 15px;
}

#powerTip * {
	font-family: $font-body;
	color: black;
}

.wp-block-image figcaption {
	background: $light-yellow;
	padding: 15px 20px;
	@media screen and (min-width: $small-width) {
		padding: 20px 30px;
	}
}

.wp-block-gallery.has-nested-images figure.wp-block-image {
	aspect-ratio: 1/1;
}
