.wrap_svl {
	counter-reset: tips;
}

.wrap_svl .tips:after {
	counter-increment: tips;
	content: counter(tips);
	line-height: 15px;
	font-family: $font-body;
	color: black;
	display: block;
	font-size: 15px;
	z-index: 10;
	position: relative;
	pointer-events: none;
	margin-top: -7px;
	margin-left: -7px;
	text-align: center;
	width: 15px;
}

#powerTip {
	background: $light-yellow;
	border-radius: none;
	color: black;
	font-family: $font-body;
	padding: 15px;
}

#powerTip.n:before {
    border-top: 10px solid $light-yellow;
}
#powerTip.s:before {
    border-bottom: 10px solid $light-yellow;
}
#powerTip.e:before {
    border-right: 10px solid $light-yellow;
}
#powerTip.w:before {
    border-left: 10px solid $light-yellow;
    right: -10px
}

#powerTip * {
	font-family: $font-body;
	color: black;
}

.wp-block-image figcaption {
	background: $light-yellow;
	padding: 15px 20px;
	@media screen and (min-width: $small-width) {
		padding: 20px 30px;
	}
}

.wp-block-gallery.has-nested-images figure.wp-block-image {
	aspect-ratio: 1/1;
}

#baguetteBox-overlay .full-image figcaption {
	background: $light-yellow;
	color: black;
	font-size: 18px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-family: $font-body;
}
