.post-type-archive {
	background: $light-yellow;
}

.product a {
	text-decoration: none;
}

.woocommerce-notices-wrapper:empty {
	margin-bottom: 0;
}

.woocommerce-cart table.cart td.actions .coupon .input-text {
	min-width: 200px;
	@media screen and (min-width: $small-width) {
		min-width: 300px;
	}
}

.added_to_cart.success {
	display: none !important;
}

.product.success .added_to_cart.success {
	display: block !important;
}

.woocommerce div.product .description a {
	text-decoration: underline;
}

.woocommerce ul.products li.product .woocommerce-loop-product__title,
.product .woocommerce-loop-product__title {
	color: black;
	font-family: $font-body;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	margin-top: 10px;
	margin-bottom: 5px;
	transition-property: color;
	transition-duration: 0.3s;
	padding-bottom: 0;
	@media screen and (min-width: $small-width) {
		font-size: 22px;
		margin-top: 15px;
		margin-bottom: 10px;
		line-height: 28px;
	}
}


.product button.single_add_to_cart_button {
	margin-right: 20px;
	@media screen and (min-width: $small-width) {
		margin-right: 45px;
	}
}

.product .woocommerce-loop-product__title span {
	font-style: normal !important;
}

.product a:hover .woocommerce-loop-product__title {
	color: $light-orange;
}

.product .woocommerce-loop-product__link .image-wrap {
	position: relative;
}

.product .woocommerce-loop-product__link .image-wrap img {
	width: 100%;
	display: block;
}

.product .woocommerce-loop-product__link .image-wrap:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 1) url($shop) no-repeat 7.5% 92.5% / 25px;
	opacity: 0;
	transition-duration: 0.3s;
	transition-property: opacity;
	@media screen and (min-width: $small-width) {
		background: rgba(0, 0, 0, 1) url($shop) no-repeat 7.5% 92.5% / 45px;
	}
}

.product .woocommerce-loop-product__link .image-wrap:hover:after {
	opacity: .4;
}

.product .event-date {
	display: none;
}


body.woocommerce-cart div.shop_table .product .price,
body.woocommerce ul.products li.product .price,
body.woocommerce:where(body:not(.woocommerce-uses-block-theme)) div.product .price {
	font-size: 18px;
	color: black;
	font-weight: 500;
	@media screen and (min-width: $small-width) {
		font-size: 20px;
	}
}

body.woocommerce .site-main > .wrapper {
	margin-top: 50px;
	margin-bottom: 50px;
	align-items: stretch;
	@media screen and (min-width: $small-width) {
		margin-top: 100px;
		margin-bottom: 100px;
	}
}

body.woocommerce .site-main > .wrapper .col-image {
	display: flex;
	align-items: stretch;
}

.col-image img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.archive.tax-product_cat .col .woocommerce-products-header__title {
	@media screen and (min-width: $small-width) {
		margin-top: 0;
		font-size: 45px;
		margin-bottom: 25px;
	}
}


.site-main > .woocommerce-products-header .woocommerce-products-header__title {
	max-width: $max-cont-w + 200px;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	margin-left: auto;
	margin-right: auto;
}

.woocommerce-variation.single_variation {
	width: 100%;
}

.wp-singular .product {
	width: 100%;
}

.woocommerce-product-gallery__image {
	border: 1px solid black;
}

.product_title.entry-title {
	font-weight: 700;
	font-size: 30px;
	line-height: 39px;
	font-style: normal;
	margin-bottom: 0;
	@media screen and (min-width: $small-width) {
		font-size: 45px;
		line-height: 54px;
	}
}

.woocommerce nav.woocommerce-pagination ul {
	margin-top: 35px;
	@media screen and (min-width: $small-width) {
		margin-top: 60px;
	}
}

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
	font-size: 16px;
	color: black;
	padding: 1em;
	background: white;
	font-family: $font-body;
}

.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current {
	background: black;
	color: white;
}

.product_title.entry-title span {
	font-style: normal !important;
}

body.woocommerce .product-type-variable form.cart .variations_button,
.woocommerce div.product .single_variation_wrap,
body.woocommerce div.product form.cart,
body.woocommerce div.product.product-type-simple form.cart {
	display: flex !important;
	flex-wrap: wrap;
	align-items: stretch;
}

.woocommerce div.product form.cart .button {
	margin-left: 0;
	margin-top: 15px;
	@media screen and (min-width: $small-width) {
		margin-left: 45px;
		margin-top: 0;
	}
}

.woocommerce div.product .description {
	margin-top: 20px;
	@media screen and (min-width: $small-width) {
		margin-top: 40px;
	}
}

.related.products {
	background: $light-yellow;
	padding-top: 35px;
	padding-bottom: 35px;
	@media screen and (min-width: $small-width) {
		padding-top: 70px;
		padding-bottom: 70px;
	}
}

.woocommerce ul.products li.product a img {
	margin-bottom: 0;
}


.related.products h2.related-products-header {
	font-size: 35px;
	margin-top: 0;
	@media screen and (min-width: $small-width) {
		font-size: 45px;
	}
}

body.woocommerce:where(body:not(.woocommerce-uses-block-theme)) ul.products li.product .price {
	color: black;
}

body.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
	float: none;
	width: 100% !important;
	margin: 0;
}

.product-gallery {
	position: relative;
	width: 100%;
	margin-bottom: 45px;
	@media screen and (min-width: $small-width) {
		margin-bottom: 0;
		width: calc(50% - 30px);
	}
}

body.woocommerce-page div.product div.summary {
	width: 100%;
	@media screen and (min-width: $small-width) {
		width: calc(50% - 30px);
	}
}

.woocommerce table.variations tbody th,
.woocommerce table.variations tbody td,
.woocommerce table.variations tbody tr {
	display: block;
	width: 100%;
	text-align: left;
}

.product.swiper {
	border: 1px solid black;
}

.product.type-product {
	display: flex;
	flex-wrap: wrap;
	grid-column-gap: 60px;
}


.woocommerce-page .entry-content > .woocommerce {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}

.site-main > .woocommerce-notices-wrapper {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}

.woocommerce-notices-wrapper, 
.woocommerce-page .entry-content > .woocommerce {
	max-width: $max-cont-w + 200px;
	margin: 0 auto;
}

div.woocommerce-notices-wrapper {
	margin-bottom: 25px;
	margin-top: 25px;
	width: 100%;
}

div.woocommerce-notices-wrapper:empty {
	margin-top: 0;
	margin-bottom: 0;
}

.woocommerce > .wrapper {
	max-width: $max-cont-w + 200px;
	margin: 45px auto 45px;
}

.woocommerce a.added_to_cart {
	background: $light-grey !important;
	line-height: 34px;
	&:hover {
		color: black;
	}
}

.woocommerce-cart .quantity .qty {
	border: 1px solid black;
}

.woocommerce a.remove {
	font-size: 2em;
}

.woocommerce #content table.cart td.actions .coupon, .woocommerce table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon {
	display: flex;
	align-items: stretch;
}

.shop_table.grid {
	width: 100%;
	grid-template-columns: 1fr;
		grid-row-gap: 35px;
		grid-column-gap: 25px;
		grid-template-columns: 1fr 1fr;
		@media screen and (min-width: $med-width + 1px) {
			grid-template-columns: 1fr 1fr 1fr;
			grid-row-gap: 50px;
			grid-column-gap: 30px;
		}
		@media screen and (min-width: $small-width) and (max-width: $med-width) {
			grid-template-columns: 1fr 1fr 1fr;
			grid-row-gap: 35px;
			grid-column-gap: 20px;
		}
	@media screen and (min-width: $small-width) {
		width: 65%;
	}
}

.shop_table.grid .actions {
	grid-column: 1/2;
	@media screen and (min-width: $med-width + 1px) {
		grid-column: 1/4;
	}
	@media screen and (min-width: $small-width) and (max-width: $med-width) {
		grid-column: 1/4;
	}
}

.woocommerce-cart {
	background: $light-yellow;
}

.woocommerce-cart-form {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.woocommerce-cart .product-remove {
	margin-bottom: 10px;
	display: flex;
	justify-content: flex-end;
}

.woocommerce-cart .quantity {
	display: flex;
	justify-content: flex-end;
}

.woocommerce .cart-collaterals, 
.woocommerce-page .cart-collaterals {
	width: 100%;
	border: 1px solid black;
	padding: 1.25rem;
	background: white;
	margin-top: 25px;
	@media screen and (min-width: $small-width) {
		width: calc(35% - 2.5rem);
		margin-left: 2.5rem;
		margin-top: 0;
		position: sticky;
		top: 120px;
	}
}

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
	width: 100%;
}

.cart-wrapper {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}

.cart-collaterals button[name="update_cart"] {
	display: block;
	margin-top: 15px;
	justify-content: flex-end;
	margin-left: auto;
	background: $light-grey;
}

.cart-collaterals .coupon {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	@media screen and (min-width: $small-width) {
		justify-content: space-between;
	}
}

.cart-collaterals .coupon #coupon_code {
	width: 100%;
	margin-bottom: 10px;
	min-height: 45px;
	@media screen and (min-width: $small-width) {
		width: 50%;
		margin-bottom: 0;
	}
}

body.woocommerce div.product p.stock {
	font-size: 1em;
	color: black !important;
}