.post-type-archive {
	background: $light-yellow;
}

.product a {
	text-decoration: none;
}


.woocommerce ul.products li.product .woocommerce-loop-product__title,
.product .woocommerce-loop-product__title {
	color: black;
	font-family: $font-body;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	margin-top: 10px;
	margin-bottom: 5px;
	transition-property: color;
	transition-duration: 0.3s;
	padding-bottom: 0;
	@media screen and (min-width: $small-width) {
		font-size: 22px;
		margin-top: 15px;
		margin-bottom: 10px;
		line-height: 28px;
	}
}

.product .woocommerce-loop-product__title span {
	font-style: normal !important;
}

.product a:hover .woocommerce-loop-product__title {
	color: $light-orange;
}

.product .event-date {
	display: none;
}

body.woocommerce ul.products li.product .price,
body.woocommerce:where(body:not(.woocommerce-uses-block-theme)) div.product .price {
	font-size: 18px;
	color: black;
	font-weight: 500;
	@media screen and (min-width: $small-width) {
		font-size: 20px;
	}
}

body.woocommerce .site-main > .wrapper {
	margin-top: 50px;
	margin-bottom: 50px;
	@media screen and (min-width: $small-width) {
		margin-top: 100px;
		margin-bottom: 100px;
	}
}

.site-main > .woocommerce-products-header .woocommerce-products-header__title {
	max-width: $max-cont-w + 200px;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	margin-left: auto;
	margin-right: auto;
}

.woocommerce-variation.single_variation {
	width: 100%;
}

.wp-singular .product {
	width: 100%;
}

.woocommerce-product-gallery__image {
	border: 1px solid black;
}

.product_title.entry-title {
	font-weight: 700;
	font-size: 30px;
	line-height: 39px;
	font-style: normal;
	margin-bottom: 0;
	@media screen and (min-width: $small-width) {
		font-size: 45px;
		line-height: 54px;
	}
}

.product_title.entry-title span {
	font-style: normal !important;
}

body.woocommerce .product-type-variable form.cart .variations_button,
.woocommerce div.product .single_variation_wrap,
body.woocommerce div.product form.cart,
body.woocommerce div.product.product-type-simple form.cart {
	display: flex !important;
	flex-wrap: wrap;
	align-items: stretch;
}

.woocommerce div.product form.cart .button {
	margin-left: 25px;
	@media screen and (min-width: $small-width) {
		margin-left: 45px;
	}
}

.woocommerce div.product .description {
	margin-top: 20px;
	@media screen and (min-width: $small-width) {
		margin-top: 40px;
	}
}

.related.products {
	background: $light-yellow;
	padding-top: 35px;
	padding-bottom: 35px;
	@media screen and (min-width: $small-width) {
		padding-top: 70px;
		padding-bottom: 70px;
	}
}

.woocommerce ul.products li.product a img {
	margin-bottom: 0;
}


.related.products h2.related-products-header {
	font-size: 35px;
	margin-top: 0;
	@media screen and (min-width: $small-width) {
		font-size: 45px;
	}
}

body.woocommerce:where(body:not(.woocommerce-uses-block-theme)) ul.products li.product .price {
	color: black;
}

body.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
	float: none;
	width: 100%;
	margin: 0;
}

.product-gallery {
	position: relative;
	width: 100%;
	@media screen and (min-width: $small-width) {
		width: calc(50% - 30px);
	}
}

body.woocommerce-page div.product div.summary {
	width: 100%;
	@media screen and (min-width: $small-width) {
		width: calc(50% - 30px);
	}
}

.woocommerce table.variations tbody th,
.woocommerce table.variations tbody td,
.woocommerce table.variations tbody tr {
	display: block;
	width: 100%;
	text-align: left;
}

.product.swiper {
	border: 1px solid black;
}

.product.type-product {
	display: flex;
	flex-wrap: wrap;
	grid-column-gap: 60px;
}