.images-columns {
	width: 100%;
	max-width: 100%;
}

.images-columns > .block-wrapper {
	max-width: $max-cont-w + 200px;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 45px;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	@media screen and (min-width: $small-width) {
		padding-bottom: 110px;
	}
}

.images-columns > .block-wrapper > .block-content > .block-editor-inner-blocks {
	width: 100%;
}

.images-columns > .block-wrapper > .block-content > .block-editor-inner-blocks > .block-editor-block-list__layout,
.images-columns > .block-wrapper > .block-content {
	display: flex;
	grid-column-gap: 30px;
	width: 100%;
}

.images-columns .image-column {
	width: 100%;
	@media screen and (min-width: $small-width) {
		width: calc(33.3333% - 13.333px);
		margin: 0;
	}
}